body {
    box-sizing: border-box;
    background: linear-gradient(35deg, #ff0f7b, #f89b29);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 40px;
  }
  .blockquote {
    border: 2px solid black;
    min-height: 15%;
    width: 80%;
    border-radius: 10px;
    padding: 0.5em 0.8em;
  }
  .quote {
    font-family: cursive;
    font-size: 1.2rem;
    margin: 0;
  }
  .heading{
      font-size: 2.8rem;
      letter-spacing: 1px;
  }
  button {
    height: 44px;
    width: 50%;
    border-radius: 10px;
    border-style: none;
    font-size: 1rem;
    font-weight: 600;
  }
  button:hover {
    background-color: #424fc9;
  }
  .span-italic{
      font-style: italic;
      color: #faf6f2a3;
  }
  